@model GestorPetshop.ViewModels.ItemsViewModel

<div>Esta es la vista de pedido</div>
<form class="w-50">
    <div class="mb-3">
        <label for="total" class="form-label">Total</label>
        <input type="money" class="form-control" id="total" aria-describedby="total" value="0">
        <div id="totalHelp" class="form-text">Total del pedido.</div>
    </div>
    <div class="mb-3">
        <label for="oferta" class="form-label">Oferta %</label>
        <input type="number" class="form-control" id="oferta" aria-describedby="oferta" value="0">
    </div>
</form>
<div>Juguetes</div>
<div class="row">
    <table class="arrowes-table table-striped" style="width:50%;">
        <thead>
            <tr>
                <th scope="col" style="width:20%"></th>
                <th scope="col"></th>
                <th scope="col" style="width:20%">Title</th>
                <th scope="col" style="width:20%">Precio</th>
                <th scope="col" style="width:20%">Stock</th>
                <th scope="col" style="width:20%">Qty</th>
            </tr>
        </thead>
        <tbody id="tableBodyJuguetes">
            @for (var i = 0; i < Model.ListadoJuguetes.Count; i += 1)
            {
                <tr id="row_@Model.ListadoJuguetes[i].Id">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="Juguete_@Model.ListadoJuguetes[i].Id" value="@Model.ListadoJuguetes[i].Id">
                            <label class="form-check-label" for="radio_@Model.ListadoJuguetes[i].Id"></label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input id="jugueteId_@Model.ListadoJuguetes[i].Id" type="hidden" name="jugueteId_@Model.ListadoJuguetes[i].Id" value="@Model.ListadoJuguetes[i].Id">
                        </div>
                    </td>
                    <td id="jugueteTitle_@Model.ListadoJuguetes[i].Id">@Model.ListadoJuguetes[i].Title</td>
                    <td id="juguetePrecio_@Model.ListadoJuguetes[i].Id">@Model.ListadoJuguetes[i].Precio.ToString("0.00")</td>
                    <td id="jugueteStock_@Model.ListadoJuguetes[i].Id">@Model.ListadoJuguetes[i].Stock</td>
                    <td id="jugueteQty_@Model.ListadoJuguetes[i].Id"><input type="number" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>Comestibles</div>
<div class="row">
    <table class="arrowes-table table-striped" style="width:50%;">
        <thead>
            <tr>
                <th scope="col" style="width:20%"></th>
                <th scope="col"></th>
                <th scope="col" style="width:20%">Title</th>
                <th scope="col" style="width:20%">Precio</th>
                <th scope="col" style="width:20%">Stock</th>
                <th scope="col" style="width:20%">Qty</th>
            </tr>
        </thead>
        <tbody id="tableBodyComestibles">
            @for (var i = 0; i < Model.ListadoComestibles.Count; i += 1)
            {
                <tr id="row_@Model.ListadoComestibles[i].Id">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="Comestible_@Model.ListadoComestibles[i].Id" value="@Model.ListadoComestibles[i].Id">
                            <label class="form-check-label" for="radio_@Model.ListadoComestibles[i].Id"></label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input id="comestibleId_@Model.ListadoComestibles[i].Id" type="hidden" name="comestibleId_@Model.ListadoComestibles[i].Id" value="@Model.ListadoComestibles[i].Precio.ToString("0.00")">
                        </div>
                    </td>
                    <td id="comestibleTitle_@Model.ListadoComestibles[i].Id">@Model.ListadoComestibles[i].Title</td>
                    <td id="comestiblePrecio_@Model.ListadoComestibles[i].Id">@Model.ListadoComestibles[i].Precio.ToString("0.00")</td>
                    <td id="comestibleStock_@Model.ListadoComestibles[i].Id">@Model.ListadoComestibles[i].Stock</td>
                    <td id="comestibleQty_@Model.ListadoComestibles[i].Id"><input type="number" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary" id="calc_btn">Calcular importe</button>
<button type="button" class="btn btn-primary" id="save_btn">Save changes</button>
@section scripts {
    <script>
        $(document).ready(function () {
            function convertToKeyValueArray(arr) {
                return arr.map(item => {
                    const [key, value] = item.split('_');
                    return { [key]: value };
                });
            }
            $("#calc_btn").bind("click", function () {
                var resultStr = "";
                var of = $("#oferta").val();
                $("input[type=checkbox]:checked").each(function () {
                    resultStr = resultStr + this.id + ",";
                });
                resultStr = resultStr.slice(0, -1);
                console.log(resultStr);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Calcular", "Pedido")',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { productos: resultStr, oferta: of },
                    success: function (result) {
                        $('#total').val(result);
                        console.log(result);
                    }
                });
            });

            $("#save_btn").bind("click", function () {
                var t = $("#total").val().toString();
                t = t.replace(".", ",");
                console.log("TOTAL => " + t);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Insertar", "Pedido")',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: { total: t },
                    success: function (result) {

                    }
                });
            });
        });
    </script>
}